<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Scan Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    </style>
</head>
<body class="smartscan-background">
    <div class="navbar">
    <ul class="nav-list">
        <li><a href="{{ url_for('home') }}">Home</a></li>     
        <li><a href="{{ url_for('fruitvision') }}">Fruit Vision</a></li>
        <li><a href="{{ url_for('krishiai') }}">Krishi AI</a></li>
        <li><a href="{{ url_for('smartscan') }}">Smart Scan Product</a></li>

    </ul>

 
</div>
    <h1> Smart Scan Product</h1>
    <form method="POST" enctype="multipart/form-data" class="smartscan-form">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Upload</button>
    </form>

    {% if brand and weight %}
        <h2>Extracted Information:</h2>
        <p><strong>Brand Name:</strong> {{ brand }}</p>
        <p><strong>Net Weight:</strong> {{ weight }}</p>
    {% endif %}

    <div class="cursor-highlight" id="cursor"></div>
   
</body>
</html>